html, body {
  font-family: sans-serif;
  color: #777;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  outline: 0;
}

.container {
  padding: 10px
}

header {
  text-align: center;
}

/* Form */

.form {
  width: 100%;
  text-align: center;
}

.inputForm {
  width: 95%;
  height: 30px;
  font-size: 1em;
  padding-left: 5px;
  outline: 0;
}

.submitButton {
  width: 95%;
  height: 30px;
  background-color: #ddd;
  padding: 5px;
  font-size: 1em;
}

.submitButton:active {
  background-color: #ccc;
}

/* Result List */

.List {
  padding: 10px;
}

.listItem {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px auto;
}

.addButtonSpan {
  float: right;
}

.addButton,
.removeButton {
  width: 50px;
  height: 33px;
  font-size: 1em;
}

.addButton:active,
.removeButton:active {
  background-color: #ccc;
}
