/*.contain-to-grid,
.top-bar,
.top-bar-section li {
  background: linear-gradient(to bottom, #bfd255 38%,#9ecb2d 100%);
}*/

html,
body {
  background-color: #000;
  color: #fff;
}

.ui.fixed.nav-bar {
  background-color: #22be34;
}

.ui.fixed.nav-bar > .item {
  color: #fff;
}

.container {
  margin: 70px auto 10px;
  max-width: 600px;
}

.ui.secondary.pointing.menu .active.item {
  color: #fff;
  border-color: #fff;
}

.ui.secondary.pointing.menu .item:hover {
  color: red;
}

.item {
  border-bottom: 1px solid #fff;
}

.item > .content {
  padding: 10px;
}

.itemName {
  color: #2ecc71;
}

.caloriesText {
  color: #e67e22;
}

.fatText {
  color: #f1c40f;
}
