html, body {
  font-family: sans-serif;
  color: #777;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1;
}

button {
  border: none;
  outline: 0;
}

a {
  text-decoration: none;
  padding: 10px;
  background-color: #ddd;
}

.container {
  padding: 10px
}

header {
  text-align: center;
}

/* Form */
.formBox {
  margin-top: 20px;
}

.form {
  width: 100%;
  text-align: center;
}

.inputForm {
  width: 95%;
  height: 30px;
  font-size: 1em;
  padding-left: 5px;
  outline: 0;
}

.submitButton {
  width: 95%;
  height: 30px;
  background-color: #ddd;
  padding: 5px;
  font-size: 1em;
}

.submitButton:active {
  background-color: #ccc;
}

/* Result List */

.List {
  padding: 10px;
}

.listItem {
  color: #222;
  background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
  position: relative;
  margin: 0 auto 5px;
  padding: 5px 10px;
}

.itemName {
  margin-right: 40px;
  word-wrap: break-word;
}

/*.buttonSpan {
  float: right;
}*/

.addButton,
.removeButton {
  position: absolute;
  right: 0px;
  top: 0;
  width: 50px;
  height: 33px;
  font-size: 1em;
  border-radius: 0 0 0 10px;
  box-shadow: -3px 3px 5px;
}

.addButton:active,
.removeButton:active {
  background-color: #ccc;
}
