<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yuichi Hagio">
    <meta name="description" content="Health Tracking App">
    <title>Health Tracker</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.css" media="screen">
    <link rel="stylesheet" href="css/main.css" media="screen">
  </head>
  <body>
    <!-- Navigation Bar at top -->
    <div class="ui secondary pointing menu fixed nav-bar">
      <a class="item" href="#/"><h3>Health Tracker</h3></a>
      <a class="item active" href="#/"><span>Search</span></a>
      <a class="item" href="#/myfoods"><span>My Foods</span></a>
    </div>

    <!-- Main Content Area -->
    <div class="container">

      <div id="error" class="errorBox">
        <!-- Error message will be displayed here -->
      </div>

      <div id="main">
        <!-- SearchBoxView / MyFoodsHeaderView will be displayed here -->
      </div>

      <div id="resultList" class="ui middle aligned divided list">
        <!-- SearchResultView / MyFoodsView will be displayed here -->
      </div>
    </div>

    <!-- Search Form + Search Result template -->
    <script type="text/template" id="search-page-template">
      <h3>Search Food</h3>

      <form class="ui form segment error">
        <div class="field">
          <input
            type="text"
            class="inputForm"
            placeholder="Type a food keyword (i.e. Chips, Pepsi)"
            autofocus>
        </div>
        <button class="ui teal inverted button" type="submit">Search</button>
      </form>
    </script>

    <!-- My Foods Header Template -->
    <script type="text/template" id="myfoods-header-template">
      <h3>MyFoods</h3>
      <p class="total">
        Total: <span id="totalCalories" class="totalCaloriesFont">0</span> calories
      </p>
      <hr>
    </script>

    <!-- List Item Template -->
    <script type="text/template" id="list-item-template">

      <div class="right floated content">
        <div class='ui button <%= item.get("added") ? "ui red inverted button removeButton" : "ui green inverted button addButton" %>' data-id="<%= item.get('id') %>">
          <%= item.get("added") ? "X" : "Add" %>
        </div>
      </div>
      <div class="content">
        <h3 class="itemName"><%= item.get("itemName") %></h3>
        <p>Brand: <%= item.get("brandName") %></p>
        <p>
          <%= item.get("servingSize") %>
          <%= item.get("servingUnit") %>
        </p>
        <p>
          <span class="caloriesText">Calories : </span> <%= item.get("calories") %>
          ( <span class="fatText">Total Fat : </span> <%= item.get("totalFat") %> )
        </p>
      </div>
    </script>

    <!-- Loading bunch of Javascript files -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>
    <script src="//cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
    <script src="//cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.js"></script>
    <script src="js/bundle.js"></script>
  </body>
</html>
